<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="GroupCSVNeg" value="C:\aatemp_test\2018-03-12_LipidMatch_Excel\GroupNeg.csv"/>
        <add key="GroupCSVPos" value="C:\aatemp_test\2018-03-12_LipidMatch_Excel\GroupPos.csv"/>
        <add key="PcaScoreNeg" value="C:\aatemp_test\2018-03-12_LipidMatch_Excel\Metabo\pca_score_neg.csv"/>
        <add key="PcaScorePos" value="C:\aatemp_test\2018-03-12_LipidMatch_Excel\Metabo\pca_score_pos.csv"/>
        <add key="AnovaNeg" value="C:\aatemp_test\2018-03-12_LipidMatch_Excel\Metabo\anova_posthoc_neg.csv"/>
        <add key="AnovaPos" value="C:\aatemp_test\2018-03-12_LipidMatch_Excel\Metabo\anova_posthoc_pos.csv"/>
    </appSettings>
</configuration>